<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Vatcher - authorize</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="singleCard">
			<form class="card login" name="guest" method="post" action="/authorize">
				 <h1>AUTHORIZATION</h1>
				 <div class="input">
					 <p>Authorization code:</p>
					 <input style="width:70px" type="password" name="code">
				 </div>
				 <div class="center">
				 	<input class="button" type="submit" value="Authorize account">
				 </div>
				 <div class="register">
				 	<a href="">Resend code</a>
				 </div>
			</form>
			
		</div>
	</body>
</html>