<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Vatcher - login</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="singleCard">
			<form class="card login"  name="f" method="post" action="/process_login">
				 <h1>LOGIN</h1>
				 <div class="input">
					 <p>Email:</p>
					 <input type="email"  name="username" id="username">
				 </div>
				 <div class="input">
					 <p>Password:</p>
					 <input type="password"  name="password">
				 </div>
				 <div class="center">
				 	<input class="button" type="submit" value="Log in">
				 </div>
				 <div class="register">
				 	<a th:href="@{/auth/registration}">Register</a>
				 </div>
				 <div class="register">
				 	<a th:href="@{/auth/change-password}">Change password</a>
				 </div>
				 <div th:if="${param.error}" style="color: red">
					Not correct user details
				</div>
			</form>
			
		</div>
	</body>
</html>