<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Vatcher - login</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="singleCard">
			<form class="card login">
				 <h1>LOGIN</h1>
				 <div class="input">
					 <p>Email:</p>
					 <input type="email"  name="email">
				 </div>
				 <div class="input">
					 <p>Password:</p>
					 <input type="password"  name="password">
				 </div>
				 <div class="center">
				 	<input class="button" type="submit" value="Log in">
				 </div>
				 <div class="register">
				 	<a href="">Register</a>
				 </div>
			</form>
			
		</div>
	</body>
</html>