<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Vatcher - Home</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<link
      rel="stylesheet"
      href="https:/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
<style>
</style>
<body>
<nav>
	<h1>VATCHER</h1>
	<ul>
		<li><a>Home</a></li>
		<li><a>Opportunities</a></li>
        <li><a>Profile</a></li>
        <li><a>Logout</a></li>
        <li><a class="fa fa-bell" aria-hidden="true"></a></li>
      </ul>
</nav>
<h1 class="applications sectionHeader">Summary</h1>
<div class="mainGrid" style="padding-top:0">
	<div class="feed">
		<div class="card opportunity">
			<div class="list">
				 <h1>Latest opportunities</h1>
				 <p>Opportunity 1</p>
				 <p>Opportunity 2</p>
				 <p>Opportunity 3</p>
				 <p>Opportunity 4</p>
				 <p>Opportunity 5</p>
			 </div>
		</div>
	</div>
	<div class="feed">
		<div class="card opportunity">
			<div class="list">
				 <h1>Messages</h1>
				 <p>Message 1</p>
				 <p>Message 2</p>
				 <p>Message 3</p>
				 <p>Message 4</p>
				 <p>Message 5</p>
			 </div>
		</div>
	</div>
	<div class="profile">
		<div class="card userProfile">
			 <h1>User name</h1>
			 <h3>Qualifications</h2>
			 <p>This</p>
			 <p>is</p>
			 <p>qualifications</p>
			 <p>list</p>
			 <h3>Job preferences</h2>
			 <p>This</p>
			 <p>is</p>
			 <p>preferences</p>
			 <p>list</p>
		</div>
	</div>
</div>
<div class="applications">
<h1 class="sectionHeader">Your applications list</h1>
<div class="card opportunity">
			<div class="desc">
				 <h1>Opportunity 3</h1>
				 <p>This is a paragraph.</p>
				 <p>This is another paragraph.</p>
			 </div>
			 <div class="action">
				 <i class="fa fa-times cross" style="font-size:5rem;" aria-hidden="true"></i>
			 </div>
		</div>
</div>


<footer>
	<p>VATCHER 2023</p>
</footer>
</body>
</html>