<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Vatcher - Home</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<link
      rel="stylesheet"
      href="https:/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
<style>
</style>
<body>
<nav>
	<h1>VATCHER</h1>
	<ul>
		<li><a>Home</a></li>
		<li><a>Opportunities</a></li>
        <li><a>Profile</a></li>
        <li><a>Logout</a></li>
        <li><a class="fa fa-bell" aria-hidden="true"></a></li>
      </ul>
</nav>
<div class="content">
	<div class="twoColumn">
		<div class="card">
			<h1>test</h1>
		</div>
		<div class="card">
			<h1>test</h1>
		</div>
	</div>
</div>

<footer>
	<p>VATCHER 2023</p>
</footer>
</body>
</html>