<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat Page</h1>
    <h3 th:text="${user.name}">User name</h3>
    <form th:action="@{/chat/send}" method="post">
      <input type="hidden" name="opportunityID" th:value="${opportunityID}" />
      <input type="text" name="content" placeholder="Type your message" required />
      <button type="submit">Send</button>
    </form>
    <hr />
    <div th:each="message : ${messages}">
      <p>	<span th:text="${message.timestamp}">Time</span>
      		<strong th:text="${message.sender.name}">Sender</strong>: 
      		<span th:text="${message.content}">Content</span></p>
    </div>
  </body>
</html>
