<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vatcher - Opportunities</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link
      rel="stylesheet"
      href="https:/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
<nav>
	<h1>VATCHER</h1>
	<ul>
		<li><a>Home</a></li>
		<li><a>Opportunities</a></li>
        <li><a>Profile</a></li>
        <li><a>Logout</a></li>
        <li><a class="fa fa-bell" aria-hidden="true"></a></li>
      </ul>
</nav>
<div class=mainGrid>
	<div class="feed">
		<div class="card opportunity" th:each="job : ${jobOpportunity}">
			<div class="desc">
				 <h1 th:text="${job.jobTitle}">Opportunity 1</h1>
				 <p th:text="${job.company}">This is a paragraph.</p>
				 <p th:text="${job.location}">This is another paragraph.</p>
			 </div>
			 <div class= "action">
				 <i class="fa fa-heart heart" style="font-size:4rem;" aria-hidden="true"></i>
				 <i class="fa fa-times cross" style="font-size:5rem;" aria-hidden="true"></i>
			 </div>
		</div>
	</div>
	<div class="profile">
		<div class="card userProfile">
			 <h1>User name</h1>
			 <h3>Qualifications</h2>
			 <p>This</p>
			 <p>is</p>
			 <p>qualifications</p>
			 <p>list</p>
			 <h3>Job preferences</h2>
			 <p>This</p>
			 <p>is</p>
			 <p>preferences</p>
			 <p>list</p>
		</div>
	</div>
</div>

<footer>
	<p>VATCHER 2023</p>
</footer>
</body>
</html>